* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(6, 31, 0);
    background: linear-gradient(-160deg, rgb(9, 33, 1) 25%, rgb(37, 156, 7) 100%);
    font-family: "Aldrich", sans-serif;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
/* ------------------ Header nav ------------------ */

a {
    text-decoration: none;
}
.header {
    width: 100%;
}
    
.nav {
  max-width: 1100px;
  height: 100px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.img-logo {
  width: 150px;
}

.img-logo:hover{
  filter: drop-shadow(0px 0px 2px #ffffff6f);
  transition: 0.2s linear;
}

.nav-list {
  list-style: none;
}

.nav-list a {
  font-size: 18px;
  color: #01E4FE;
  padding: 18px;
  border-radius: 10px;
  border: 1px solid #01E4FE;
  font-weight: bold;
}

.nav-list a:hover{
  background-color: rgba(1, 229, 254, 0.844);
  border-radius: 10px;
  color: #010F28;
  transition: 0.2s linear;
  box-shadow: 0 0 14px #01e5fe;
  outline: none;
  transform: translateY(-4px);
}
/* ------------------ FIM header nav------------------ */
h1 {
    color: #FFF;
    margin-bottom: 20px;
    font-size: clamp(30px, 5vw, 50px);
    filter: drop-shadow(0px 2px 4px rgb(45, 219, 6));
}

.progress {
    height: 5px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
.progress--bar {
    background-color: #00FF00;
    height: 100%;
    transition: all ease .5s;
    width: 0%;
}

.neutralArea {
    width: min(95%, 1060px);
    min-height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid #ffffff;
    padding: 20px;
    gap: 15px;
}

.item {
    width: clamp(100px, 15vw, 170px);
    height: clamp(100px, 15vw, 150px);
    background-color: #178ebc;
    color: transparent;
    font-size: clamp(20px, 3vw, 30px);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
    background-size: cover;
    background-position: center;
    margin-top: 14px;
    -webkit-user-select: none;
    user-select: none;
    touch-action: none;
    transition: transform 0.1s ease;
}
.item.dragging {
    opacity: 0.5;
    transform: scale(1.05);
    z-index: 1000;
}

.areas {
    width: min(95%, 1200px);
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.areas.correct .area {
    border: 2px solid #00FF00;
}
.area {
    width: clamp(120px, 20vw, 200px);
    height: clamp(120px, 20vw, 250px);
    border: 2px solid #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    text-align: center;
}
.area span {
    color: #FFF;
    font-weight: bold;
    font-size: 1.2em;
    height: 2.2em;
    display: flex;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
}
.hover {
    background-color: rgba(255, 255, 255, 0.171);
}

.btn-next {
    color: #ffffff;
    padding: 10px;
    font-size: clamp(16px, 3vw, 20px);
    margin-top: 20px;
    display: none;
    text-transform: uppercase;
    appearance: none;
    background-color: rgb(46, 200, 12);
    border: 2px solid rgb(11, 58, 0);
    border-radius: 40px;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: 600;
    line-height: normal;
    outline: none;
    padding: 16px 30px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.btn-next:hover, .btn-next:focus {
    color: rgb(11, 58, 0);
    border: 2px solid rgb(11, 58, 0);
    background-color: rgb(79, 255, 39);
    box-shadow: 0 0 20px rgb(44, 219, 5);
    outline: none;
    transform: translateY(-4px);
}

footer {
    margin-top: 2em;
    color: #FFF;
    font-size: clamp(14px, 2vw, 20px);
    margin-bottom: 10px;
    text-align: center;
}
.ico-img-footer{
  width: 32px;
}
.ico-img-footer:hover{
  filter: drop-shadow(0px 0px 2px #ffffff);
  transition: 0.2s linear;
  transform: translateY(-2px);
}
.ico-footer{
    margin-top: 0.8em;
    width: 300px;
    display: flex;
    gap: 1.5em;
    align-items: center;
    justify-content: center;
}

/* Estilo da score final */
.scoreArea {
    background-color: rgba(181, 227, 169, 0.307);
    width: min(90%, 500px);
    border-radius: 30px;
    text-align: center;
    display: none;
    padding: 20px;
}
.prizeImage {
    width: auto;
    height: clamp(150px, 25vh, 200px);
}
.scoreText1 {
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-top: 0.4em;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    font-size: clamp(24px, 5vw, 34px);

}
.scorePct {
    color: #0d630d;
    margin-top: 0.6em;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    font-size: clamp(28px, 6vw, 52px);
    font-weight: bold;
    font-family: "Anton", sans-serif;
}
.scoreText2 {
    font-size: clamp(14px, 2.5vw, 20px);
    color: #ffffff;
    font-weight: 400;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.629);
    margin-bottom: 20px;
    font-family: "Roboto Condensed", sans-serif;
}

.btn-restart {
    border: 1px solid rgb(0, 83, 91);
    border-radius: 40px;
    background-color: rgb(0, 122, 134);
    color: #ffffff;
    padding: 0.8em 2.2em;
    cursor: pointer;
    box-sizing: border-box;
    outline: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    font-size: clamp(1em, 2.5vw, 1.4em);
}
.btn-restart:hover {
    background-color: rgba(0, 168, 183, 0.896);
    outline: none;
    transform: translateY(-4px);
}

/*Modal*/
.modal {
  display: none; 
  position: fixed; 
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5); 
}
.modal-content {
  background-color: #fff;
  position: relative;
  margin: 15% auto;
  padding: 40px;
  border-radius: 12px;
  width: 80%;
  max-width: 500px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}
#mensagemModal{
    font-size: 2em;
    font-weight: 600;
}
.close {
  color: #ff000075;
  position: absolute;
  top: -10px;
  right: 6px;
  font-size: 3.6em;
  font-weight: bold;
  cursor: pointer;
}
.close:hover {
  color: #ff0000;
}

/*aba de avaliacao e comentario*/
  #estrelas span {
    font-size: 46px;
    cursor: pointer;
    color: #ccc;
    transition: color 0.2s;
    filter: drop-shadow(0px 0px 2px #0000006f);
  }

  #estrelas span.selecionada {
    color: gold;
  }
.avaliacaoComentario {
    margin-top: 30px;
    padding: 20px;
    background: rgba(9, 33, 1, 0.6);
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
    text-align: center;
}

.estrelas {
    font-size: 26px;
    margin-bottom: 10px;
    cursor: pointer;
}

.estrela {
    color: #ccc;
    transition: color 0.2s;
}

.estrela.selecionada {
    color: gold;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    resize: none;
    background-color: #ffffff;
}

#comentariosRecebidos {
    margin-top: 40px;
    text-align: left;
    color: white;
    text-shadow: 0px 0px 2px #000000;
}

.media-estrelas{
    margin-top: 1em;
    color: #FFF;
    text-shadow: 0px 1px 2px #000000;
}
.media-estrelas i {
    color: gold;
    font-size: 1.9em;
    margin-right: 2px;
    margin-top: 0.2em;
}
.media-estrelas strong{
    text-align: center;
    font-size: 1.4em;
}

.btn-avaliacao{
    border: 1px solid rgb(0, 83, 91);
    border-radius: 40px;
    background-color: rgb(0, 122, 134);
    color: #ffffff;
    padding: 0.8em 2.2em;
    cursor: pointer;
    box-sizing: border-box;
    outline: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    font-size: clamp(1.3em, 2.5vw, 1.6em);
    width: 100%;
}
.btn-avaliacao:hover{
    background-color: rgba(0, 168, 183, 0.896);
    outline: none;
    transform: translateY(-4px);
}
.h3-avaliacao{
    color: #FFF;
    font-size: 1.4em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.629);
}



/* ------------------ Mobile ------------------ */

@media (max-width: 768px) {
    html, body {
        overflow-x: hidden;
    }
        
    .item.dragging {
        transform: scale(1.05);
        opacity: 0.8;
        z-index: 1000;
    }

    .area.hover, .neutralArea.hover {
        background-color: rgba(255, 255, 255, 0.2);
        transition: background-color 0.2s ease;
    }
    .item {
        width: 24vw;
        height: 24vw;
        min-width: 80px;
        min-height: 80px;
        margin-top: 0.3em;
        touch-action: none;
        -webkit-user-drag: none;
        user-select: none;
        transition: transform 0.1s ease;
    }

    .area {
        width: 28vw;
        height: 38vw;
        min-width: 90px;
        min-height: 90px;
        font-size: 0.6em;
        overflow: hidden;
    }
    .area span {
        height: 2.6em;
        font-size: 1.4em;
        text-transform: uppercase;
    }
    .prizeImage {
        width: auto;
        height: clamp(100px, 25vh, 200px);
    }
    .btn-next{
        font-size: 1.3em;
    }
    .scoreText1 {
        font-size: 2.3em;
    }
    .scorePct {
        font-size: 2.8em;
    }
    .scoreText2 {
        font-size: 1.17em;
    }
    .btn-restart{
        font-size: 1.3em;
    }
    footer{
        font-size: 0.8em;
        margin-top: 2.6em;
    }
    .ico-img-footer{
        width: 20px;
    }
    #mensagemModal{
        font-size: 1.2em;
    }
    .modal-content{
        min-width: 340px;
    }
    .close {
        font-size: 3.2em;
    }
}

@media (min-width: 769px) and (max-width: 1024px){
    html, body {
        overflow-x: hidden;
    }
        
    .item.dragging {
        transform: scale(1.05);
        opacity: 0.8;
        z-index: 1000;
    }

    .area.hover, .neutralArea.hover {
        background-color: rgba(255, 255, 255, 0.2);
        transition: background-color 0.2s ease;
    }
    .item {
        width: 24vw;
        height: 24vw;
        min-width: 80px;
        min-height: 80px;
        margin-top: 0.3em;
        touch-action: none;
        -webkit-user-drag: none;
        user-select: none;
        transition: transform 0.1s ease;
    }

    .area {
        width: 28vw;
        height: 34vw;
        min-width: 90px;
        min-height: 90px;
        overflow: hidden;
    }
    .area span {
        height: 2em;
        font-size: 2em;
        text-transform: uppercase;
    }
    .prizeImage {
        width: auto;
        height: clamp(100px, 25vh, 200px);
    }
    .btn-next{
        font-size: 2em;
    }
    .scoreText1 {
        font-size: 3em;
    }
    .scorePct {
        font-size: 3.4em;
    }
    .scoreText2 {
        font-size: 1.45em;
    }
    .btn-restart{
        font-size: 1.6em;
    }
    footer{
        font-size: 1.4em;
        margin-top: 2em;
    }
}